body {
    background-color:rgb(112, 105, 105);
    margin: 0;
}

.image {
    max-width: 100vw;
}

h1 {
    background-color: rgb(117, 117, 117); 
    max-height: 10%; 
    max-width: 30%;
    text-align: start;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-decoration: underline;
    font-style: oblique;
}

h2 {
    text-indent: 10%;
    background-color: rgb(116, 116, 116); 
    max-width: 30%; 
    max-height: 25%;
    font:large;
    font-family: 'Courier New', Courier, monospace;
}

p {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    text-indent: 5%; 
    max-height: 15%;
    max-width: 55%;
    background-color: rgb(114, 110, 110);
}

.biggerDiv {
    width: 50%;
    background-color: white;
}

.smallerDiv {
    width: 50%;
    background-color: whitesmoke;
}